{% extends "./account_base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}Sign In{% endblock %}
{% block account_extra %}
<h1 class="text-center mb-4">You need to sign out first</h1>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="row justify-content-xs-center mt-2">
    <button class="btn btn-lg btn-secondary" type="submit">Sign Out &raquo;</button>
  </div>
</form>
{% endblock %}