{% extends "./account_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}
{% block account_extra %}
<h1 class="text-center text-primary">Change Password</h1>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div style="width:10px;height:15px;display:inline-block"></div>
    <div class="row justify-content-xs-center mx-auto">
        <button class="btn btn-secondary" type="submit">Change Password &raquo;</button>
    </div>
    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
</form>
</div>
</div>
</section>
{% endblock account_extra %}