{% extends "./account_base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block account_extra %}
<h1 class="text-center text-primary">Password Reset</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <div style="width:10px;height:15px;display:inline-block"></div>
    <div class="row justify-content-xs-center">
        <input type="submit" class="btn btn-secondary my-2 mx-auto" value='Reset My Password' />
    </div>
</form>
<p>Please <a href="mailto:info@example.com">contact us</a> if you have any trouble resetting your password.</p>
{% endblock account_extra %}