{% extends "./account_base.html" %}
{% block title %}Verify Your E-mail Address{% endblock %}
{% block account_extra %}
<h1 class="text-center text-primary">Verify Your E-mail Address</h1>
{% url 'account_email' as email_url %}
<p>
    This part of the site requires us to verify that
    you are who you claim to be. For this purpose, we require that you
    verify ownership of your e-mail address.
</p>
<p>Please verify your email address within 24 hours.</p>
<p>Otherwise your order will be cancelled.</p>
{% endblock account_extra %}