{% extends "../base.html" %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->
{% block title %}Home{% endblock%}
{% block content %}
{% block head %}
{% endblock head %}

{% include 'includes/header.html' %}
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% include 'includes/message-alert.html' %}
        <div class="container mb-4">
            <div class="row justify-content-start">
                <div class="col-9 col-sm-4">
                    <span class="text-primary fs-4 fs-sm-3 fw-bold">All Services</span>
                    <hr class="d-sm-none">
                </div>
            </div>
        </div>
        {% include 'includes/product-card.html' %}
        {% include 'includes/pagination-generic.html' %}
    </div>
</section>

{% endblock content %}