{% extends "../../base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load get_group %}
{% block title %}Edit - Staff{% endblock%}

{% block head %}
<style>
    textarea#id_address {
        height: 100px;
    }
</style>
{% endblock head %}

{% block content %}
<section class="my-2 pt-3">
    <div class="mx-auto mb-5" style="max-width: 550px;">
        {% include 'includes/message-alert.html' %}
        {% if request.user.is_superuser%}
        <hr>
        <h1 class="text-center text-primary mb-3">Edit Staff Profile</h1>
        <hr>
        {% elif request.user|has_group:"STAFF" and not activated %}
        <hr>
        <h1 class="text-center text-primary mb-3">Complete Profile</h1>
        <hr>
        {% else %}
        <hr>
        <h1 class="text-center text-primary mb-3">Edit Profile</h1>
        <hr>
        {% endif %}
        <form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <!-- {{ form|crispy }} -->
            <div class="d-flex justify-content-between p-2 mt-2 bg-white">
                <div>{{ form.profile_pic|as_crispy_field }}</div>
                <div><img src="{{ staff.profile_pic.url }}" alt="Resposive image" width="100px" height="100px"></div>
            </div>
            {{ userForm|crispy }}
            <p></p>
            {{ form.department|as_crispy_field }}
            <p></p>
            <div class="form-group p-2">
                <label for="">Phone Number<span style="color: red;">*</span></label>
                {% render_field form.phone pattern="[0-9]{11}" %}
            </div>
            {{ form.address|as_crispy_field }}
            {% if request.user.is_superuser %}
            {{ form.is_active|as_crispy_field }}
            {% endif %}
            <div class="row justify-content-xs-center mt-3 mx-auto">
                <button type="submit" class="btn btn-secondary">Save</button>
                {% if request.user.is_superuser %}
                <a href="{% url 'accounts:staff_table' %}" type="button" class="btn btn-outline-secondary mt-3">&laquo;
                    Back</a>
                {% endif %}
            </div>
            {% if request.user|has_group:"STAFF" and not activated %}
            <div class="mt-3 text-danger">
                <p>N.B. Please complete this form and wait for the admin to activate your profile</p>
                <p class="text-muted">Also need to wait for approval if this form is edited</p>
            </div>
            {% endif %}
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_department').select2({
            placeholder: "Select department",
            allowClear: true
        });
    });
</script>
{% endblock %}