{% extends './admin-dashboard.html' %}
{% block title %}Admin Panel{% endblock%}
{% block admin_dashboard %}
<div class="container my-5">
    <div class="row row-cols-md-3 justify-content-center gx-5">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5" style="height: 180px; background-color: #7898ff;">
                    <div class="card-header">
                        <h4 class="card-title">Total Orders</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ total_orders }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5" style="height: 180px; background-color: #7abecc">
                    <div class="card-header">
                        <h4 class="card-title">Orders Completed</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ completed }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5" style="height: 180px; background-color: #7CD1C0;">
                    <div class="card-header">
                        <h4 class="card-title">Orders Pending</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ pending }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5"
                    style="height: 180px; background-color: rgb(255, 143, 123);">
                    <div class="card-header">
                        <h4 class="card-title">Total Staffs</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ total_staffs }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5"
                    style="height: 180px; background-color: rgb(95, 185, 140);">
                    <div class="card-header">
                        <h4 class="card-title">Staff Approval Pending</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ staffs_approval_pending }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-5" style="height: 180px; background-color: #f1ad5e;">
                    <div class="card-header">
                        <h4 class="card-title">Total Services</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title">{{ total_services }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <a href="/django-admin" class="btn btn-lg btn-secondary">Django Admin</a>
    </div>
</div>
{% endblock admin_dashboard %}