{% extends "../../base.html" %}
{% load crispy_forms_tags %}
{% block title %}Service - Add{% endblock%}
{% block content %}
<section class="my-2 pt-3">
    <div class="mx-auto mb-5" style="max-width: 550px;">
        {% include 'includes/message-alert.html' %}
        <div class="row d-flex me-auto mt-3">
            <div>
                <a href="{% url 'accounts:service_option_table' %}" type="button"
                    class="btn btn-outline-secondary mt-3">&laquo;
                    Back
                </a>
            </div>
        </div>
        <hr>
        <h1 class="text-center text-primary">{{ form_name }}</h1>
        <hr>
        <form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="row justify-content-xs-center mt-3 mx-auto">
                <button type="submit" class="btn btn-secondary">Save</button>
                <a href="{% url 'accounts:service_option_table' %}" type="button"
                    class="btn btn-outline-secondary mt-3">&laquo; Back</a>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_service').select2({
            placeholder: "Select a service",
            allowClear: true
        });
    });
</script>
{% endblock %}