{% extends "../../base.html" %}
{% load crispy_forms_tags %}
{% block title %}Order Item - Edit{% endblock%}
{% block content %}
<section class="my-2 pt-3">
    <div class="mx-auto mb-5" style="max-width: 450px;">
        {% include 'includes/message-alert.html' %}
        <hr>
        <h1 class="text-center text-primary">Edit Order</h1>
        <hr>
        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row justify-content-xs-center mt-3 mx-auto">
                <button type="submit" class="btn btn-secondary">Save</button>
                <a href="{% url 'accounts:order_list' %}" type="button" class="btn btn-outline-secondary mt-3">&laquo;
                    Back</a>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_assigned_staff').select2({
            allowClear: true
        });
    });
</script>
{% endblock %}