{% extends './admin-dashboard.html' %}
{% block title %}Admin Panel - ServiceOptions{% endblock%}
{% load render_table from django_tables2 %}
{% block admin_dashboard %}
<div class="container my-5">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="fs-3 fw-bold text-danger text-center mb-3" id="tableTitle">
            Service Option Table:
            <input class="form-control" id="myInput" type="text" placeholder="Search...">
            <span class="d-flex justify-content-end mt-2">
                <a href="{% url 'accounts:create_service_option' %}" class="btn btn-sm btn-outline-primary">
                    Add <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>
                </a>
            </span>
        </div>
        {% render_table table %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ($) {
        $("td[data-href*='/service-option-edit/']")
            .click(
                function () {
                    window.location = $(this).data("href");
                });
        $("td[data-href*='/service-option-delete/']").click(
            function () {
                let ans = confirm('Are you sure you want to delete this user?')
                if (ans == true) {
                    window.location = $(this).data("href");
                }
            });
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock admin_dashboard %}