{% extends './admin-dashboard.html' %}
{% block title %}Admin Panel - Staff Schedule{% endblock%}
{% load render_table from django_tables2 %}
{% block admin_dashboard %}
<div class="container my-5 pb-5">
    <div class="container px-4 px-lg-5 my-5 pb-5">
        <div class="fw-bold pt-5">
            <p>Name: {{ staff.full_name }}</p>
            <p>ID: {{ staff.id }}</p>
            <p>Department: {{ staff.department }}</p>
        </div>
        <hr style="max-width: 500px;">
        <table class="table table-striped mb-5 pb-5" style="max-width: 500px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for b in booked %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ b.date }}</td>
                    <td>{{ b.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock admin_dashboard %}