<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="bi bi-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="bi bi-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-gem"></i> Servicio</h6>
                    <p>
                        <a class="text-decoration-none text-primary fw-bold" href="{% url 'accounts:register_staff' %}">
                            Register as a Professional
                        </a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="https://www.djangoproject.com/" class="text-decoration-none text-reset">Django</a></p>
                    <p><a href="https://getbootstrap.com" class="text-decoration-none text-reset">Bootstrap</a></p>
                    <p><a href="https://jquery.com" class="text-decoration-none text-reset">jQuery</a></p>
                    <p><a href="https://www.postgresql.org/" class="text-decoration-none text-reset">PostgreSQL</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-decoration-none text-reset">Pricing</a></p>
                    <p><a href="#!" class="text-decoration-none text-reset">Settings</a></p>
                    <p><a href="#!" class="text-decoration-none text-reset">Orders</a></p>
                    <p><a href="#!" class="text-decoration-none text-reset">Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="bi bi-house-fill"></i> Rd No. 27, Dhaka 1209</p>
                    <p><i class="bi bi-envelope-fill"></i> info@example.com</p>
                    <p><i class="bi bi-telephone-fill"></i> + 880 123 456 77</p>
                    <p><i class="bi bi-file-earmark-break"></i> + 880 123 456 78</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">servicio-391.herokuapp.com</a>
    </div>
</footer>